.spacing h2{
    margin-bottom: 0;
}

.spacing p{
    margin-top: 0;
}
.spacing p {
    margin-bottom: 10px; 
    margin-top: 0;      
}
.spacing ul {
    margin-top: 0;      
    margin-bottom: 0;   
}